.Login-outer-container{
  display: flex;
  justify-content: center;
  align-items: center;
    height: 100vh;
  

}
.Login_image_container{
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    

}
.login_image{
  height: 100%;
  width: 100%;
  
  
}
.login_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  height: 600px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Input_user {
  
  height: 40px;
  width: 250px;
  outline: none;
  border: none;
}
.login_container h1{
   
    font-size: 40px;
}
.login_input_border{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  border: 1px solid black;
}
.btn{
    padding: 10px 130px;
    background-color: rgb(64, 216, 34);
    color:rgb(243, 243, 243);
    border-color: white;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
  background-color:rgb(124, 206, 108) ;
}

.btn:active {
  background-color: #45a049;
  color: #fff;
}
@media screen and (max-width:840px) {
  .Login_image_container{
   display: none;
    

}
  
}