* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
overflow: hidden;
}
.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
    "nav nav nav "
    "corousel corousel corousel"
    "services services services"
    "desc desc desc"
    "features features features"
    "solutions solutions solutions"
    "info info info "
    "inspiring inspiring inspiring"
    "guides guides guides"
    "footer footer footer";
}
#nav {
  background-color: green;
  grid-area: nav;
}
#corousel {
  background-color: rgb(100, 194, 100);
  grid-area: corousel;
}
#services {
  background-color: green;
  grid-area: services;

}
#desc {
  background-color: yellow;
  grid-area: desc;
}
#features {
  background-color: purple;
  grid-area: features;
}
#solutions {
  background-color: orange;
  grid-area: solutions;
}
#info {
  background-color: pink;
  grid-area: info;
}
#inspiring {
  background-color: black;
  grid-area: inspiring;
}
#guides {
  background-color: white;
  grid-area: guides;
}
#footer {
  background-color: gray;
  grid-area: footer;
}
